#toolBarBottom,#toolBarTop {
	-fx-background-color:linear-gradient( from 50.0% 0.0% to 50.0% 100.0%, rgb(128,142,159) 0.0, rgb(167,184,207) 30.0, rgb(205,227,255) 50.0, rgb(167,184,206) 70.0, rgb(128,142,159) 100.0);
    -fx-padding: 5 15 5 15;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1)
}

.button {
    -fx-background-color: 
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 5 15 5 15;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
     -fx-font-weight: 500;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.button:hover {
    -fx-background-color: 
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%);
}
