#glass-grey {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.button {
	 -fx-background-color: 
     #c3c4c4,
     linear-gradient(#d6d6d6 50%, white 100%),
     radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.label {
	
}


/*Style of entire tableView*/
.table-view{
    -fx-background-color: transparent;
 }

 /*Style of entire tableView when is getting focused*/
.table-view:focused{
    -fx-background-color: transparent;
}



/*Style of each column header in the tableView*/
.table-view .column-header {
     -fx-background-color: transparent;
} 

/*Style of each column header's background in the tableView*/
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

 /*Style of each column header's label  in the tableView*/
.table-view .column-header-background .label{
     -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

/*Style of each column in the tableView*/
.table-view .table-column{
    -fx-alignment:center;
}

 /*Style of each table cell*/
.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:15px;           
    -fx-text-fill:black; 

}

/*Style of each entire row in the table view*/
.table-row-cell:selected {
   -fx-border-color:transparent firebrick transparent firebrick  ;
    -fx-border-width:2.0; 
}