<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="de.tu_bs.cs.isf.e4cf.compare.data_structures.ArtifactReader">
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.date_structure.adapter.TextAdapter">
      </artifactReader>
   </extension>
   <extension
         id="de.tu_bs.cs.isf.e4cf.compare.data_structures.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="data_structure.e4xmi"
            apply="always">
      </fragment>
   </extension>

</plugin>
