<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="ArtifactReader" name="ArtifactReader" schema="schema/ArtifactReader.exsd"/>
   <extension-point id="ArtifactWriter" name="ArtifactWriter" schema="schema/ArtifactWriter.exsd"/>
   <extension
         point="de.tu_bs.cs.isf.e4cf.compare.data_structures.ArtifactReader">
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.reader.java.JavaReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.xml.uml.UMLReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.reader.tree.TreeReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.reader.text.TextReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.xml.arch.ArchReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.reader.cpp.SrcMLReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.reader.python.PythonFileReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.reader.iec_611331.IECReader">
      </artifactReader>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.e4cf.compare.data_structures.ArtifactWriter">
      <artifactWriter
            artifactWriter="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.writer.TextWriter">
      </artifactWriter>
	  <artifactWriter
            artifactWriter="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.writer.JavaWriter2">
      </artifactWriter>
   <artifactWriter
         artifactWriter="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.xml.arch.ArchWriter">
   </artifactWriter>
   <artifactWriter
         artifactWriter="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.xml.uml.UMLWriter">
   </artifactWriter>
   <artifactWriter
         artifactWriter="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.writer.CppWriter">
   </artifactWriter>
   <artifactWriter
         artifactWriter="de.tu_bs.cs.isf.e4cf.compare.data_structures.io.writer.TreeWriter">
   </artifactWriter>
   </extension>
</plugin>
