<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="de.tu_bs.cs.isf.e4cf.compare.compare_engine.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="compare_engine.e4xmi"
            apply="always">
      </fragment>
   </extension>

</plugin>
