/* Import the stylesheets for all file-types */
@import "java-keyword.css";
@import "xml-keyword.css";

.blue-color{
    -fx-fill: blue;
}

.red-color{
    -fx-fill: red;
}

.green-color{
    -fx-fill: green;
}