<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="NodeDecorator" name="NodeDecorator" schema="schema/node_decorator.exsd"/>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.e4cf.extractive_mple.editor_view.NodeDecorator">
      <node_decorator
            node_decorator="de.tu_bs.cs.isf.e4cf.extractive_mple.editor_view.impl.IEC61131NodeDecorator">
      </node_decorator>
      <node_decorator
            node_decorator="de.tu_bs.cs.isf.e4cf.extractive_mple.editor_view.impl.FamilyModelNodeDecorator">
      </node_decorator>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.e4cf.parts.project_explorer.ProjectExplorerFileExtension">
      <project_explorer_file_attr
            file_extension="tree"
            project_explorer_file_attr="de.tu_bs.cs.isf.e4cf.extractive_mple.editor_view.contribution.TreeProjectExplorerExtension">
      </project_explorer_file_attr>
   </extension>


</plugin>
