<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="ArtifactReader" name="ArtifactReader" schema="schema/ArtifactReader.exsd"/>
   <extension-point id="ArtifactWriter" name="ArtifactWriter" schema="schema/ArtifactWriter.exsd"/>
   <extension
         point="de.tu_bs.cs.isf.e4cf.core.io.ArtifactReader">
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.core.io.reader.java_reader.JavaReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.core.io.reader.uml_reader.UMLReader">
      </artifactReader>
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.core.io.reader.tree_reader.TreeReader">
      </artifactReader>  
      <artifactReader
            artifactReader="de.tu_bs.cs.isf.e4cf.core.io.reader.cpp_reader.SrcMLReader">
      </artifactReader>   
   </extension>
   <extension
         point="de.tu_bs.cs.isf.e4cf.core.io.ArtifactWriter">
      <artifactWriter
            artifactWriter="de.tu_bs.cs.isf.e4cf.core.io.writter.TextWritter">
      </artifactWriter>
	  <artifactWriter
            artifactWriter="de.tu_bs.cs.isf.e4cf.core.io.writter.JavaWriter2">
      </artifactWriter>
   </extension>
</plugin>
