<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Matcher" name="Matcher" schema="schema/Matcher.exsd"/>
   <extension
         point="de.tu_bs.cs.isf.e4cf.core.PreferencesPage">
      <pref_page_attr
            pref_page_attr="de.tu_bs.cs.isf.e4cf.compare.extensions.preferences.ComparePrefPage">
      </pref_page_attr>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.e4cf.compare.Matcher">
      <matcher
            matcher="de.tu_bs.cs.isf.e4cf.compare.matcher.SortingMatcher">
      </matcher>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.e4cf.parts.project_explorer.ProjectExplorerWorkspaceStructure">
      <workspace_structure_attr
            workspace_structure_attr="de.tu_bs.cs.isf.e4cf.compare.extensions.workspace.CompareWorkspace">
      </workspace_structure_attr>
   </extension>

</plugin>
