<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="NodeIcons" name="Node Icons" schema="schema/NodeIcons.exsd"/>

   <extension
         id="de.tu_bs.cs.isf.e4cf.compare.data_structures_editor.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="tree_view.e4xmi"
            apply="always">
      </fragment>
      <fragment
            uri="properties_view.e4xmi"
            apply="always">
      </fragment>
   </extension>
   <extension
         id="NodeIcons"
         name="node_icons"
         point="de.tu_bs.cs.isf.e4cf.compare.data_structures_editor.NodeIcons">
   </extension>

</plugin>
