<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="de.tu_bs.cs.isf.e4cf.extractive_mple.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>
   <extension
         point="de.tu_bs.cs.isf.e4cf.parts.project_explorer.ProjectExplorerFileExtension">
      <project_explorer_file_attr
            file_extension="mpl"
            project_explorer_file_attr="de.tu_bs.cs.isf.e4cf.extractive_mple.extensions.workspace.MPLExtension">
      </project_explorer_file_attr>
   </extension>

</plugin>
