<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   
	
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated featureIDE-metamodel -->
      <package
            uri="www.example.com/featureIdeDiagram"
            class="FeatureModel.FeatureModelPackage"
            genModel="featureIDE/featureIDE-metamodel.genmodel"/>
   </extension>

</plugin>
